---
layout: markdown_page
title: Compensation Calculator
---

For more information about the calculator, see the [explanation in the
handbook](/handbook/people-operations/global-compensation/#compensation-calculator).

We are not currently hiring for all of the positions below. For a full
list of open positions, please see [our jobs page](/jobs/).

<%= partial 'includes/salary_calculator_vue' %>
