---
layout: default
title: "Professional Service Engineering Workflows"
---

.wrapper.handbook-wrapper.clearfix
  %aside{:class => "tocs-sidebar"}
    %h4 About
    %p This is a collection of SOPs used by the GitLab Professional Service Engineering team.
    .row
      = partial '/handbook/customer-success/professional-service-engineering/workflows/workflow-list'
  .container.md-page
    %ol.breadcrumb
      %li You are here:
      = breadcrumbs(current_page)
      = partial "includes/layout/handbook_search.html.haml"
    %section
      = partial('/handbook/customer-success/professional-service-engineering/workflows/process')
