.node
  .employee-profile
    %strong.employee-name{id: member[:anchor]}
      = link_to member[:name], "/company/team/##{member[:anchor]}"
    %em.employee-title
      = member[:link]
- if member[:children].any?
  .tree
    %ul
      - member[:children].each do |child|
        %li
          = partial "team_member", locals: { member: child }
